@import "../base";

.btn {
  text-transform: uppercase;
  background: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

.btn-outline--black {
  border: 1px solid $darkergrey;
  color: $darkergrey;

  &:hover {
    background: $darkergrey-o;
  }
}

.btn-outline--white {
  border: 1px solid white;
  color: white;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}

.btn-outline--red {
  border: 1px solid $red;
  color: $red;

  &:hover {
    background: $red-o;
  }
}

.btn-outline--green {
  border: 1px solid $green;
  color: $green;

  &:hover {
    background: $green-o;
  }
}

.btn-outline--blue {
  border: 1px solid $blue;
  color: $blue;

  &:hover {
    background: $blue-o;
  }
}


.btn--medium {
  padding: 0.5rem 0.75rem;
}

.btn--large {
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

.btn--mobile {
  width: 80%;
  padding: 1rem;
}

.btnLink > .btn--mobile {
    width: 100%;
}

@include mQ($width--l) {
  .btnLink {
    width: 80%;
  }
}
