@import "../base";

.btn {
    text-transform: uppercase;
    background: none;
    border-radius: 0.2rem;
    cursor: pointer;

    a {
        text-decoration: none;
    }
}

.btn-outline--black {
    border: 1px solid $darkergrey;
    color: $darkergrey;

    a {
        color: $darkergrey; 
    }

    &:hover {
        background: $darkergrey-o;
    }
}

.btn-outline--white {
    border: 1px solid white;
    color: white;

    a {
        color: white;
    }

    &:hover {
        background: rgba(255, 255, 255, 0.5);
    }
}

.btn--medium {
    padding: 0.5rem 0.75rem;
}

.btn--large {
    padding: 1rem 1.5rem;
    font-size: 1rem;
}

.btn--mobile {
    width: 80%;
    padding: 1rem;   
}