@import "../base";

.seller {
  width: 100%;
  background: $lightergrey;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    margin-bottom: 3rem;
  }

  .addBtn {
    display: flex;
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .seller-cont {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1.5rem;

    .product-group {
      width: 100%;

      .product-item {
        width: 100%;
        background: white;
        border-radius: 0.5rem;
        overflow: hidden;
        display: flex;

        &:not(:last-of-type) {
          margin-bottom: 1rem;
        }

        .img-cont {
          width: 30%;
          padding-bottom: 30%;
          position: relative;
        }

        .img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 0.5rem;
          object-fit: cover;
          object-position: center;
        }

        .info-cont {
          width: 70%;
          padding: 1rem 1.5rem 1.5rem;

          .desc {
              color: $grey;
              font-style: italic;
          }

          .btn {
            margin-right: 0.5rem;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

@include mQ($width--m) {
  .seller {
    .seller-cont {
      .product-group {
        .product-item {
          flex-direction: column;

          .img-cont {
            width: 100%;
            padding-bottom: 100%;
          }

          .info-cont {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}
