@import "../base";

.seller {
  width: 100%;
  background: $lightergrey;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    margin-bottom: 3rem;
  }

  .addBtn {
    display: flex;
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .seller-cont {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;

    .product-group {
      width: 100%;
    }
  }
}

@include mQ($width--m) {
  .seller {
    .seller-cont {
      .product-group {
        .product-item {
          flex-direction: column;

          .img-cont {
            width: 100%;
            padding-bottom: 100%;
          }

          .info-cont {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}
