/* Default / Global */
html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
  }
body {
  overflow-x: hidden;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.a11y-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
:root {
  --black: rgba(20, 20, 20, 1);
  --darkgrey: rgba(70, 70, 70, 1);
  --grey: rgba(130, 130, 130, 1);
  --lightgrey: rgba(230, 230, 230, 1);
  --bglightgrey: rgba(240, 240, 240, 1);
}
img {
  max-width: 100%;
  display: block;
}
ul, ol {
  list-style: none;
}
fieldset {
  border: none;
}
body.no-scroll {
  overflow-y: hidden;
}